<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>6
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add  key="smtphost" value="smtp.gmail.com" />
		<add  key="smtpport"  value="587" />
		<add key="gmailaddress"  value="tigerechapanduka@gmail.com"  />
		<add  key="gmailpassword" value="r8t2c81916" />

	</appSettings>

	<system.net>
		<mailSettings>
			<smtp from="tigerechapanduka@gmail.com">
				<network host="smtp.gmail.com" password="r8t2c81916" port="587" userName="tigerechapanduka@gmail.com"  enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	
</configuration>