<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	<!--<add key="QBFilePath" value="C:\Users\Public\Documents\Intuit\QuickBooks\Company Files\thandana From March 2019 (1).qbw"/>-->

	<add key="QBFilePath" value="C:\Users\tiger\source\TAMS.TEST\thandana From March 2019.qbw" />
	<add key="ShopifyPath" value="https://43c461c854e18cbb5897b9eceea38fe7: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@thandanasa.myshopify.com/admin/api/2021-01/orders.json" />
	<add key="userid" value="43c461c854e18cbb5897b9eceea38fe7" />
	<add key="pswd" value="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" />
	  
	<add  key="smtphost" value="smtp.gmail.com" />
	<add  key="smtpport"  value="587" />
	<add key="gmailaddress"  value=""  />
	<add key="gmailpassword" value="" />
	<add key="LastOrderNumber" value="4489" />
	<add key="frequency" value="600000" />
	  
  </appSettings>

	<system.net>
		<mailSettings>
			<smtp from="tigerechapanduka@gmail.com">
				<network host="smtp.gmail.com" password="" port="587" userName="sender@gmail.com"  enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
